.report-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--panel-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-text);
    width: 60%;
}

.report-info__header {
    display: flex;
    flex-direction: column;
}

.report-info__timing-value {
    padding-left: 20px;
}

.report-info__timing-key,
.report-info__timing-value {
    text-align: start;
}

.report-info__questions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--text-color);
    color: var(--panel-color);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.report-info__questions:hover {
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
}

.report-info__timing-value,
.report-info__title,
.report-info__questions-title {
    font-weight: bold;
}

.report-info__timing-key,
.report-info__speaker
{
    font-weight: var(--font-weight-light);
}

.report-info__questions-count {
    font-weight: normal;
}