.report-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: var(--panel-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-text);
    width: 80%;
}

.report-info-ended > * {
    opacity: var(--translucent-percent);
}

.report-info__title {
    text-wrap: wrap;
}

.report-info__timing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.report-info__timing-not-started {
    justify-content: flex-end;
}

.report-info__header,
.report-info__timing,
.report-info__questions {
    flex: 1 1 auto;
}

.report-info__header {
    display: flex;
    flex-direction: column;
}

.report-info__timing-value {
    padding-left: 20px;
}

.report-info__timing-key,
.report-info__timing-value {
    text-align: start;
}

.report-info__questions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.report-info__questions-not-started {
    display: none;
}

.report-info__questions-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--text-color);
    color: var(--panel-color);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    flex: 0 0 auto;
}

.report-info__questions-button:hover {
    background: linear-gradient(
            to right,
            var(--gradient-first-color),
            var(--gradient-second-color),
            var(--gradient-third-color)
    );
}

.report-info__timing-value,
.report-info__title,
.report-info__questions-button-title {
    font-weight: bold;
}

.report-info__timing-key,
.report-info__speaker
{
    font-weight: var(--font-weight-light);
}

.report-info__questions-button-count {
    font-weight: normal;
}