.report-details {
    background-color: var(--panel-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
}

.report-details__header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.report-details__title {
    font-size: var(--font-size-h2);
    font-weight: bold;
    text-align: center;
    word-wrap: anywhere;
}

.report-details__speaker {
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-light);
}

.report-details__info-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.report-details__info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.report-details__key {
    font-weight: var(--font-weight-light);
}

.report-details__value {
    font-weight: bold;
}

.report-details__title,
.report-details__speaker,
.report-details__key,
.report-details__value {
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.report-details__action-button {
    font-weight: bold;
    color: var(--panel-color);
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
    outline: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-text-small);
    padding: 5px 10px;
    border-radius: var(--border-radius);
}

@media (max-width: 768px) {
    .report-details {
        width: 100%;
    }

    .report-details__info-row {
        flex-direction: column;
        gap: 0;
    }
}