.report-page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.report-page__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.report-page__header-text {
    font-weight: bold;
    font-size: var(--font-size-h2);
}

.report-page__header-ask-button {
    font-weight: bold;
    color: var(--panel-color);
    background-color: var(--text-color);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-h2);
    padding: 5px 10px;
    border-radius: var(--border-radius);
}

.report-page__header-ask-button:hover {
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
}

.report-page__not-found {
    font-weight: bold;
    padding: 50px;
    box-sizing: border-box;
    width: 80%;
    background-color: var(--panel-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
}

.report-page__page-loader {
    padding: 50px;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-page__questions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.report-page__questions-list--loading {
    padding: 50px;
    box-sizing: border-box;
}

.report-page__questions-list--empty {
    width: 100%;
    font-weight: bold;
    padding: 50px;
    box-sizing: border-box;
    background-color: var(--panel-color);
    border-radius: var(--border-radius);
}

.report-page__ask-modal {
    color: var(--text-color);
    background-color: var(--panel-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 40px 40px;
    box-sizing: border-box;
    min-width: 400px;
}

.report-page__ask-modal[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.report-page__ask-modal::backdrop {
    background-color: var(--panel-color);
    opacity: 0.7;
}

.report-page__ask-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.report-page__ask-header {
    font-weight: bold;
    font-size: var(--font-size-h2);
}

.report-page__ask-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-light);
    gap: 5px;
    width: 100%;
}

.report-page__ask-section-input {
    outline: none;
    background-color: var(--panel-color);
    color: var(--text-color);
    font-family: Montserrat, serif;
    font-size: var(--font-size-text);
    border: 1px solid var(--text-color);
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    width: 100%;
}

.report-page__ask-section-input::placeholder {
    color: var(--text-color);
    opacity: var(--translucent-percent);
}

.report-page__ask-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}