.reports-page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reports-page__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.reports-page__header-text {
    font-weight: bold;
    font-size: var(--font-size-h2);
}

.reports-page__create-close,
.reports-page__create-send,
.reports-page__header-create-button {
    font-weight: bold;
    color: var(--panel-color);
    background-color: var(--text-color);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-h2);
    padding: 5px 10px;
    border-radius: var(--border-radius);
}

.reports-page__create-close:hover,
.reports-page__create-send:hover,
.reports-page__header-create-button:hover {
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
}

.reports-page__status-choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reports-page__status-choice-option {
    cursor: pointer;
}

.reports-page__status-choice-label {
    opacity: var(--translucent-percent);
    font-size: var(--font-size-text-small);
    font-weight: var(--font-weight-light);
}

.reports-page__status-choice-radio {
    appearance: none;
}

.reports-page__status-choice-radio:checked + .reports-page__status-choice-label {
    opacity: 1;
}

.reports-page__reports-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.reports-page__reports-list-empty {
    font-weight: bold;
    padding: 50px;
    box-sizing: border-box;
    width: 80%;
    background-color: var(--panel-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
}

.reports-page__reports-list-loading {
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reports-page__create-modal {
    color: var(--text-color);
    background-color: var(--panel-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 40px 20px;
    min-width: 400px;
}

.reports-page__create-modal[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.reports-page__create-modal::backdrop {
    background-color: var(--panel-color);
    opacity: 0.7;
}

.reports-page__create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.reports-page__create-header {
    font-weight: bold;
    font-size: var(--font-size-h2);
}

.reports-page__create-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-light);
    gap: 5px;
    width: 100%;
}

.reports-page__create-section-input {
    outline: none;
    background-color: var(--panel-color);
    color: var(--text-color);
    font-family: Montserrat, serif;
    font-size: var(--font-size-text);
    border: 1px solid var(--text-color);
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    width: 100%;
}

.reports-page__create-section-input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.reports-page__create-section-input::placeholder {
    color: var(--text-color);
    opacity: var(--translucent-percent);
}

.reports-page__create-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}