.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer__text {
    font-size: var(--font-size-text-small);
    text-align: center;
}