.modal {
    color: var(--text-color);
    background-color: var(--panel-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 40px 20px;
    min-width: 400px;
    box-sizing: border-box;
}

.modal[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.modal::backdrop {
    background-color: var(--panel-color);
    opacity: 0.7;
}

.modal__header {
    font-weight: bold;
    font-size: var(--font-size-h2);
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.modal__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modal__close-button {
    font-weight: bold;
    color: var(--panel-color);
    background-color: var(--text-color);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-h2);
    padding: 5px 10px;
    border-radius: var(--border-radius);
}

.modal__close-button:hover {
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
}