.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button:disabled {
    cursor: default;
    opacity: 0.7;
}

.button--loading {
    pointer-events: none;
}

.button__spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__content {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.button__content--hidden {
    visibility: hidden;
}