@property --gradient-first-color {
    syntax: '<color>';
    initial-value: rgb(255, 226, 208);
    inherits: true;
}

@property --gradient-second-color {
    syntax: '<color>';
    initial-value: rgb(255, 0, 60);
    inherits: true;
}

:root {
    --background-color: rgb(27, 27, 31);
    --panel-color: rgb(20, 20, 22);
    --gradient-first-color: rgb(255, 226, 208);
    --gradient-second-color: rgb(255, 0, 60);
    --text-color: rgb(255, 226, 208);
    --translucent-percent: 50%;
    --font-size-h1: 32px;
    --font-size-h2: 20px;
    --font-size-text: 16px;
    --font-size-text-small: 12px;
    --font-weight-light: 200;
    --border-radius: 20px;

    font-family: Montserrat, serif;
    background-color: var(--background-color);
    color: var(--text-color);

    animation: gradientPulse 3s infinite linear;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin: 20px;
}

@keyframes gradientPulse {
    0% {
        --gradient-first-color: rgb(255, 226, 208);
        --gradient-second-color: rgb(255, 0, 60);
    }
    25% {
        --gradient-first-color: rgb(255, 226, 208);
        --gradient-second-color: rgb(255, 226, 208);
    }
    50% {
        --gradient-first-color:  rgb(255, 0, 60);
        --gradient-second-color:  rgb(255, 226, 208);
    }
    75% {
        --gradient-first-color:  rgb(255, 0, 60);
        --gradient-second-color:  rgb(255, 0, 60);
    }
    100% {
        --gradient-first-color: rgb(255, 226, 208);
        --gradient-second-color: rgb(255, 0, 60);
    }
}

.Toastify__toast {
    font-family: Montserrat, serif;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-light);
    box-shadow: none;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--panel-color);
    color: var(--gradient-first-color);
}

.Toastify__progress-bar {
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
}

.Toastify__toast--error .Toastify__toast-icon svg {
    fill: var(--gradient-first-color);
}

.Toastify__close-button {
    color: var(--gradient-second-color);
    opacity: 1;
}
