:root {
    --background-color: rgb(27, 27, 31);
    --panel-color: rgb(20, 20, 22);
    --gradient-first-color: rgb(255, 253, 200);
    --gradient-second-color: rgb(255, 147, 147);
    --text-color: rgb(255, 239, 229);
    --translucent-percent: 50%;
    --font-size-h1: 32px;
    --font-size-h2: 20px;
    --font-size-text: 16px;

    font-family: Montserrat, serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 20px;
}