.header {
    background-color: var(--panel-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-h1);
    padding: 20px;
    border-radius: var(--border-radius);
}

.header__text {
    font-weight: bold;
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;

    text-decoration: none;
}