.header {
    background-color: var(--panel-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-h1);
    padding: 20px;
    border-radius: var(--border-radius);
}

.header__text {
    font-weight: bold;
}