.report-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: var(--panel-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-text);
    width: 80%;
}

.report-card--ended > * {
    opacity: var(--translucent-percent);
}

.report-card__title {
    word-wrap: anywhere;
    font-weight: bold;
}

.report-card__speaker {
    font-weight: var(--font-weight-light);
}

.report-card__timing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.report-card__header {
    flex: 5 1 0;
}

.report-card__timing {
    flex: 4 1 0;
}

.report-card__header {
    display: flex;
    flex-direction: column;
}

.report-card__timing-key,
.report-card__timing-value {
    text-align: start;
    padding: 0;
}

.report-card__timing-value {
    padding-left: 20px;
    font-weight: bold;
}

.report-card__timing-key {
    font-weight: var(--font-weight-light);
}

.report-card__goto,
.report-card__questions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
}

.report-card__goto--hidden,
.report-card__questions--hidden {
    display: none;
}

.report-card__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--text-color);
    color: var(--panel-color);
    padding: 5px 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
    flex: 0 0 auto;
    text-decoration: none;
}

.report-card__button:hover {
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
}

.report-card__button-title {
    font-weight: bold;
}

.report-card__button-count {
    font-weight: normal;
}

@media (max-width: 768px) {
    .report-card {
        flex-direction: column;
        padding: 30px 40px;
        width: 100%;
        justify-content: center;
        gap: 30px;
    }

    .report-card__title {
        text-align: center;
    }

    .report-card__header {
        align-items: center;
        gap: 3px;
    }

    .report-card__button {
        background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
    }
}