.question-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--panel-color);
    padding: 30px 50px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    font-size: var(--font-size-text);
    width: 100%;
}

.question-card__question {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-card__theme {
    font-weight: bold;
    font-size: var(--font-size-h2);
}

.question-card__text {
    font-weight: var(--font-weight-light);
    text-wrap: wrap;
}

.question-card__likes {
    position: relative;
}

.question-card__likes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.question-card__likes-content--loading {
    opacity: 0;
    pointer-events: none;
}

.question-card__likes-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

.question-card__likes-spinner--loading {
    opacity: 1;
}

.question-card__like-button {
    width: 32px;
    height: 32px;
    background-color: var(--text-color);
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-mask-image: url('../../assets/heart-outline.svg');
    mask-image: url('../../assets/heart-outline.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.question-card__like-button--active {
    background: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
    -webkit-mask-image: url('../../assets/heart-filled.svg');
    mask-image: url('../../assets/heart-filled.svg');
}

.question-card__likes-count {
    font-weight: var(--font-weight-light);
}